body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}
#about, #certifications, #projects, #ongoing, #upcoming {
    margin-bottom: 65px;
}
.navbar {
    position: sticky;
    z-index: 1000;
    background-color: transparent !important;
    pointer-events: none;
}

.navbar .nav-link,
.navbar .navbar-toggler,
.navbar .brand  {
    pointer-events: auto; 
}

.navbar .brand{
    margin-top: -15px;
    width: 25px;
    opacity: 0.6;
}

.nav-link {
    color: #028181  !important; 
    font-weight: bolder;
}
.nav-link:hover {
    color: #043b3b !important; 
}   
header {
    color: white;
    text-align: center;
}
section {
    /* margin: 2rem; */
    flex-grow: 1;
}
h1, .heading{
    color: #66BFBF;

}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
} 
h2 {
    color:   #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 20px;
    font-weight: normal;
}
h3, h5 {
    color: #66BFBF;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 0px;
    padding-bottom: 20px;
    vertical-align: middle;
    padding-top: 20px;
}
header h1 {
    margin-bottom: 0.1rem; 
}
header h2 {
    margin-top: 0; 
}
.heading {
    font-size: 2rem;
    letter-spacing: 1.2px;
    line-height: 0px;
    font-weight: bolder;
    text-wrap: wrap;
    cursor: pointer;
} 

  .arrow-icon {
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    color: black; 
}

  .heading:not(.collapsed) .arrow-icon {
    transform: rotate(90deg);
  }
.pro {
    text-decoration: underline;
}
a {
    color: black;
    font-weight:  bold;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    line-height: 1.6;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #dbe3e3;
}
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.about-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.about-item strong {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
.about-item span {
    display: inline-block; 
}
.about-item span::first-letter,b {
    font-size: 1.2em; 
    font-weight: bold; 
    color: #333; 
  }

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
}
.intro-image img {
    width: 350px; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header a, footer a{
    text-decoration: underline; 
}
header a:hover, footer a:hover {
    text-decoration: none;
}
.repository {
    margin-top: 15px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.frontend img, .backend img {
    width: 17px;
    height: auto;
    margin-right: 5px;
}
.repo-links {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.repo-links img{
    width: 10px;
}
.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}
.video-container video {
    width: 100%;
    height: auto;
}
.progress-bar {
    margin-top: 5px;
    background-color: #66BFBF;
} 
.horizontal-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: stretch;
}

.link-block {
    font-weight: bold;
    line-height: 1.6;
    padding: 0 1rem;
    flex: 1;
}
.divider {
    width: 1px;
    background-color: #ccc;
}

.center-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-horizontal-text {
    text-align: center;
    margin-top: 1rem;
    font-style: italic;
}
.subTopic{
    font-size: 11px;
    color:#028181;
    font-weight: bolder;
}
.inProgress{
    font-size: 12px;
}

#vertical a {
  font-size: 12px;
}
.spanText{
    font-weight: 100;
    font-size: 14px;
}
.microservices {
    font-size: 12px;
}
.microservices a{
    font-weight: 200;
}
footer {
    text-align: center;
    margin-top: auto;
}


footer a {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
}

footer a img {
    margin-right: 5px;
}

#progName {
    color: #66BFBF;
    font-weight: bold;
}

.footer-links .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

@media (max-width: 768px) {
    .navbar .brand{
        margin-top: 0px;
        width: 30px;
    }
    body {
        font-size: 0.9em;
    }
    /* section {
        margin: 1rem;
    } */
    .about-grid {
        width: 95%;
        grid-template-columns: 1fr;
    }
    h2.heading {
        font-size: 1.2rem;
    }
    h2.long{
        font-size: 0.9rem;
    }
    h3{
        font-size: 0.9rem;
    }
    footer a{
        font-size: 10px;
    }
    .navbar {
        background-color: transparent;
    
    }
    .about-item span {
        font-size: 12px;
    }


}