body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}
#about, #certifications, #projects, #ongoing {
    margin-bottom: 65px;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    opacity: 0.8;
}
.nav-link {
    color: #2c7474 !important; 
}
.nav-link:hover {
    color: #043b3b !important; 
}   
header {
    color: white;
    text-align: center;
}
section {
    margin: 2rem;
    flex-grow: 1;
}
h1, .heading{
    color: #66BFBF;

}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
} 
h2 {
    color:   #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 20px;
    font-weight: normal;
}
h3 {
    color: #66BFBF;
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 0px;
    padding-bottom: 20px;
}
header h1 {
    margin-bottom: 0.1rem; 
}
header h2 {
    margin-top: 0; 
}
.heading {
    font-size: 2rem;
    letter-spacing: 1.2px;
    line-height: 0px;
    font-weight: bolder;
    text-wrap: wrap;
} 
.pro {
    text-decoration: underline;
}
a {
    color: black;
    font-weight:  bold;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    line-height: 1.6;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #dbe3e3;
}
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.about-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.about-item strong {
    display: block;
    margin-bottom: 10px;
    color: #333;
}
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.intro-image img {
    width: 350px; 
    height: auto;
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
header a, footer a{
    text-decoration: underline; 
}
header a:hover, footer a:hover {
    text-decoration: none;
}
.repository {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.frontend img, .backend img {
    width: 17px;
    height: auto;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
.video-container {
    position: relative;
    width: 100%;
    max-width: 600px;
}
.video-container video {
    width: 100%;
    height: auto;
}
.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 10px;
    margin-top: 5px;
}
.progress {
    height: 100%;
    background-color: #66BFBF;
    width: 50%;
}
footer {
    text-align: center;
    padding: 1rem 0;
    color: 66BFBF;
    margin-top: auto;
}
footer img{
    margin-right: 5px;
}
#progName{
    color: #66BFBF;
}
@media (max-width: 768px) {
    body {
        font-size: 0.9em;
    }
    section {
        margin: 1rem;
    }
    .about-grid {
        grid-template-columns: 1fr;
    }
    h2.heading {
        font-size: 1.2rem;
    }
    h2.long{
        font-size: 0.9rem;
    }
    h3{
        font-size: 0.9rem;
    }
    footer a{
        font-size: 10px;
    }

}